USE [master]
GO
/****** Object:  Database [db_acesso]    Script Date: 07/11/2018 09:25:34 ******/
CREATE DATABASE [db_acesso]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_acesso', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\db_acesso.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'db_acesso_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\db_acesso_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_acesso].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_acesso]
GO
/****** Object:  UserDefinedFunction [dbo].[FN_HORAMINUTO]    Script Date: 07/11/2018 09:25:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_HORAMINUTO] (@segundos INT)

RETURNS VARCHAR(15)
BEGIN
  DECLARE @horas     INT,
          @minutos   INT,
          @resultado VARCHAR(15);

  SET @horas    = @segundos / 3600;
  SET @segundos = @segundos - @horas * 3600;
  SET @minutos  = @segundos / 60;
  SET @segundos = @segundos - @minutos * 60;

  IF @horas BETWEEN 0 AND 99
  BEGIN
    SET @resultado = RIGHT('00' + CAST(@horas AS VARCHAR), 2) + ':';
  END
  ELSE IF @horas >= 100
  BEGIN
    SET @resultado = CAST(@horas AS VARCHAR) + ':';
  END;

  SET @resultado = @resultado + RIGHT('00' + ISNULL(CAST(@minutos AS VARCHAR), ''), 2) + ':';
  SET @resultado = @resultado + RIGHT('00' + ISNULL(CAST(@segundos AS VARCHAR), ''), 2);

  RETURN @resultado;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[FN_RETORNAHORA]    Script Date: 07/11/2018 09:25:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_RETORNAHORA] (@segundos INT)

RETURNS INT
BEGIN
  DECLARE @horas     INT,
          @resultado INT;

  SET @horas    = @segundos / 3600;
 
  SET @resultado = @horas;

  RETURN @resultado;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[FN_RETORNAMINUTOS]    Script Date: 07/11/2018 09:25:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_RETORNAMINUTOS] (@segundos INT)

RETURNS INT
BEGIN
  DECLARE @horas     INT,
          @minutos   INT,
          @resultado INT;

  SET @horas    = @segundos / 3600;
  SET @segundos = @segundos - @horas * 3600;
  SET @minutos  = @segundos / 60;
  SET @segundos = @segundos - @minutos * 60;

 
  SET @resultado = @minutos;


  RETURN @resultado;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[FN_RETORNASEGUNDOS]    Script Date: 07/11/2018 09:25:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_RETORNASEGUNDOS] (@segundos INT)

RETURNS INT
BEGIN
  DECLARE @horas     INT,
          @minutos   INT,
          @resultado INT;

  SET @horas    = @segundos / 3600;
  SET @segundos = @segundos - @horas * 3600;
  SET @minutos  = @segundos / 60;
  SET @segundos = @segundos - @minutos * 60;

 
  SET @resultado = @segundos;


  RETURN @resultado;
END;
GO
/****** Object:  Table [dbo].[ACESSO]    Script Date: 07/11/2018 09:25:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACESSO](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[DATAHORASAIDA] [datetime] NULL,
	[IDCOLABORADOR] [bigint] NOT NULL,
	[DIGITAL] [varchar](max) NOT NULL,
	[TEMPOTOTAL] [varchar](max) NULL,
	[DATAHORAENTRADA] [datetime] NOT NULL,
	[VERIFICADOR] [nchar](10) NOT NULL,
 CONSTRAINT [PK_SAIDA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ACESSO_TOTALIZADOR]    Script Date: 07/11/2018 09:25:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACESSO_TOTALIZADOR](
	[MES] [int] NOT NULL,
	[SEGUNDOSTOTAL] [bigint] NULL,
	[ANO] [int] NOT NULL,
	[IDCOLABORADOR] [bigint] NOT NULL,
 CONSTRAINT [PK_ACESSO_TOTALIZADOR] PRIMARY KEY CLUSTERED 
(
	[MES] ASC,
	[ANO] ASC,
	[IDCOLABORADOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[COLABORADOR]    Script Date: 07/11/2018 09:25:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COLABORADOR](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](300) NULL,
	[CRM] [varchar](300) NULL,
	[CRMUF] [varchar](300) NULL,
	[CEP] [varchar](300) NULL,
	[RUA] [varchar](300) NULL,
	[BAIRRO] [varchar](300) NULL,
	[CIDADE] [varchar](300) NULL,
	[UF] [varchar](300) NULL,
	[TELFIXO] [varchar](300) NULL,
	[CELULAR] [varchar](300) NULL,
	[TELCONTATO] [varchar](300) NULL,
	[EMAIL] [varchar](300) NULL,
	[DIGITAL] [varchar](max) NULL,
	[STATUS] [nchar](10) NULL,
	[DATACADASTRO] [datetime] NULL,
 CONSTRAINT [PK_COLABORADOR] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PROJETO]    Script Date: 07/11/2018 09:25:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROJETO](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[RAZAO] [varchar](300) NULL,
	[FANTASIA] [varchar](300) NULL,
	[CNPJ] [varchar](300) NULL,
	[STATUS] [nchar](10) NULL,
	[CEP] [varchar](300) NULL,
	[RUA] [varchar](300) NULL,
	[BAIRRO] [varchar](300) NULL,
	[CIDADE] [varchar](300) NULL,
	[UF] [varchar](300) NULL,
	[TELFIXO] [varchar](300) NULL,
	[DATACADASTRO] [datetime] NULL,
 CONSTRAINT [PK_PROJETO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 07/11/2018 09:25:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[LOGIN] [varchar](300) NOT NULL,
	[SENHA] [varchar](300) NOT NULL,
	[NOME] [varchar](300) NULL,
	[STATUS] [nchar](10) NULL,
	[CEP] [varchar](300) NULL,
	[RUA] [varchar](300) NULL,
	[BAIRRO] [varchar](300) NULL,
	[CIDADE] [varchar](300) NULL,
	[UF] [varchar](300) NULL,
	[TELFIXO] [varchar](300) NULL,
	[CELULAR] [varchar](300) NULL,
	[TELCONTATO] [varchar](300) NULL,
	[EMAIL] [varchar](300) NULL,
	[DATACADASTRO] [datetime] NULL,
	[NIVELACESSO] [int] NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[UVWACESSO]    Script Date: 07/11/2018 09:25:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[UVWACESSO]
AS
SELECT        dbo.COLABORADOR.NOME, dbo.COLABORADOR.CRM, dbo.ACESSO.DATAHORAENTRADA, dbo.ACESSO.DATAHORASAIDA, dbo.ACESSO.IDCOLABORADOR, dbo.ACESSO.TEMPOTOTAL, 
                         dbo.ACESSO_TOTALIZADOR.SEGUNDOSTOTAL
FROM            dbo.ACESSO INNER JOIN
                         dbo.COLABORADOR ON dbo.ACESSO.IDCOLABORADOR = dbo.COLABORADOR.ID INNER JOIN
                         dbo.ACESSO_TOTALIZADOR ON dbo.COLABORADOR.ID = dbo.ACESSO_TOTALIZADOR.IDCOLABORADOR

GO
ALTER TABLE [dbo].[ACESSO_TOTALIZADOR] ADD  CONSTRAINT [DF_ACESSO_TOTALIZADOR_SEGUNDOSTOTAL]  DEFAULT ((0)) FOR [SEGUNDOSTOTAL]
GO
ALTER TABLE [dbo].[COLABORADOR] ADD  CONSTRAINT [DF_COLABORADOR_DATACADASTRO]  DEFAULT (getdate()) FOR [DATACADASTRO]
GO
ALTER TABLE [dbo].[PROJETO] ADD  CONSTRAINT [DF_PROJETO_DATACADASTRO]  DEFAULT (getdate()) FOR [DATACADASTRO]
GO
ALTER TABLE [dbo].[USUARIO] ADD  CONSTRAINT [DF_USUARIO_DATACADASTRO]  DEFAULT (getdate()) FOR [DATACADASTRO]
GO
ALTER TABLE [dbo].[ACESSO]  WITH CHECK ADD  CONSTRAINT [FK_SAIDA_COLABORADOR] FOREIGN KEY([IDCOLABORADOR])
REFERENCES [dbo].[COLABORADOR] ([ID])
GO
ALTER TABLE [dbo].[ACESSO] CHECK CONSTRAINT [FK_SAIDA_COLABORADOR]
GO
ALTER TABLE [dbo].[ACESSO_TOTALIZADOR]  WITH CHECK ADD  CONSTRAINT [FK_ACESSO_TOTALIZADOR_COLABORADOR] FOREIGN KEY([IDCOLABORADOR])
REFERENCES [dbo].[COLABORADOR] ([ID])
GO
ALTER TABLE [dbo].[ACESSO_TOTALIZADOR] CHECK CONSTRAINT [FK_ACESSO_TOTALIZADOR_COLABORADOR]
GO
/****** Object:  StoredProcedure [dbo].[USPACESSO]    Script Date: 07/11/2018 09:25:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPACESSO]
@IDCOLABORADOR AS BIGINT,
@DIGITAL AS VARCHAR(MAX)
AS
BEGIN
BEGIN TRY
BEGIN TRAN
	DECLARE @MES INT = DATEPART(MONTH,GETDATE());
	DECLARE @ANO INT = DATEPART(YEAR,GETDATE());
	DECLARE @SEGUNDOS BIGINT = 0;
	IF (NOT EXISTS(SELECT ID FROM COLABORADOR WHERE ID = @IDCOLABORADOR))
	RAISERROR('ERRO! Colaborador não cadastrado.',14,1);
	
	--FAZ A GRAVAÇÃO OU UPDATE NA TABELA ACESSO
	IF((EXISTS(SELECT ID FROM ACESSO WHERE IDCOLABORADOR = @IDCOLABORADOR AND VERIFICADOR='ENTROU')))
		BEGIN
		DECLARE @IDACESSO AS BIGINT = (SELECT ID FROM ACESSO WHERE IDCOLABORADOR = @IDCOLABORADOR AND VERIFICADOR='ENTROU');
		--DECLARE @VERIFICADOR AS NCHAR(10) = 'ENTROU'
		DECLARE @DATAHORAENTRADA AS DATETIME = (SELECT DATAHORAENTRADA FROM ACESSO WHERE ID = @IDACESSO); 
		DECLARE @DATAHORASAIDA AS DATETIME = GETDATE();
		--DECLARE @TOTALMINUTOS AS BIGINT = (SELECT ISNULL(DATEDIFF(Mi,@DATAHORAENTRADA,@DATAHORASAIDA),0));
		--DECLARE @TOTALHORAS AS TIME = (SELECT RIGHT('0' + CAST((@TOTALMINUTOS / 60) As VARCHAR(2)),2) + ':' + RIGHT('0' + CAST((@TOTALMINUTOS % 60) As VARCHAR(2)),2))
		DECLARE @TOTALHORAS AS VARCHAR(MAX) = (SELECT dbo.FN_HORAMINUTO(DATEDIFF(SECOND, @DATAHORAENTRADA, @DATAHORASAIDA)));		
		UPDATE ACESSO SET DATAHORASAIDA = @DATAHORASAIDA, TEMPOTOTAL = @TOTALHORAS, VERIFICADOR = 'SAIU' WHERE ID = @IDACESSO;
		DECLARE @IDENTRADA AS BIGINT = @IDACESSO;
		SET @SEGUNDOS = DATEDIFF(SECOND, @DATAHORAENTRADA, @DATAHORASAIDA);
		SET @MES = DATEPART(MONTH,@DATAHORASAIDA);
		SET @ANO = DATEPART(YEAR,@DATAHORASAIDA);	
		IF(EXISTS(SELECT IDCOLABORADOR FROM ACESSO_TOTALIZADOR WHERE IDCOLABORADOR = @IDCOLABORADOR AND MES = @MES AND ANO = @ANO))	
		UPDATE ACESSO_TOTALIZADOR SET  SEGUNDOSTOTAL= SEGUNDOSTOTAL+@SEGUNDOS WHERE IDCOLABORADOR = @IDCOLABORADOR;
		ELSE
		INSERT INTO ACESSO_TOTALIZADOR(MES, ANO, IDCOLABORADOR) VALUES (@MES, @ANO, @IDCOLABORADOR);	
		END
		
		ELSE
		BEGIN
		SET @MES = DATEPART(MONTH,GETDATE());
		SET @ANO = DATEPART(YEAR,GETDATE());
		INSERT INTO ACESSO (IDCOLABORADOR, DIGITAL, DATAHORAENTRADA, VERIFICADOR) VALUES (@IDCOLABORADOR, @DIGITAL, GETDATE(), 'ENTROU');
		SET @IDENTRADA = @@IDENTITY;
		IF(EXISTS(SELECT IDCOLABORADOR FROM ACESSO_TOTALIZADOR WHERE IDCOLABORADOR = @IDCOLABORADOR AND MES = @MES AND ANO = @ANO))
		UPDATE ACESSO_TOTALIZADOR SET  SEGUNDOSTOTAL= SEGUNDOSTOTAL+@SEGUNDOS WHERE IDCOLABORADOR = @IDCOLABORADOR;
		ELSE
		INSERT INTO ACESSO_TOTALIZADOR(MES, SEGUNDOSTOTAL, ANO, IDCOLABORADOR) VALUES (@MES, @SEGUNDOS, @ANO, @IDCOLABORADOR);
		END

	SELECT @IDENTRADA AS RETORNO;

COMMIT TRAN
END TRY
BEGIN CATCH
	
	ROLLBACK TRAN;
	SELECT ERROR_MESSAGE() AS RETORNO;

END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[USPALTERARCOLABORADOR]    Script Date: 07/11/2018 09:25:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPALTERARCOLABORADOR]
@ID AS BIGINT,
@NOME AS VARCHAR(300),
@CRM AS VARCHAR(300),
@CRMUF AS VARCHAR(300),
@CEP AS VARCHAR(300),
@RUA AS VARCHAR(300),
@BAIRRO AS VARCHAR(300),
@CIDADE AS VARCHAR(300),
@UF AS VARCHAR(300),
@TELFIXO AS VARCHAR(300),
@CELULAR AS VARCHAR(300),
@TELCONTATO AS VARCHAR(300),
@EMAIL AS VARCHAR(300),
@DIGITAL AS VARCHAR(MAX),
@STATUS AS NCHAR(10) = 'ATIVO'
AS
BEGIN
BEGIN TRY
BEGIN TRAN

	IF(NOT EXISTS(SELECT ID FROM COLABORADOR WHERE ID = @ID))
		RAISERROR('Erro ao alterar colaborador. Colaborador não cadastrado!', 14, 1);
	IF NOT((@STATUS = 'ATIVO')or(@STATUS='INATIVO'))
		SET @STATUS = 'ATIVO';


		UPDATE COLABORADOR SET NOME = @NOME, CRM = @CRM, CRMUF = @CRMUF, CEP = @CEP, RUA = @RUA, BAIRRO = @BAIRRO, CIDADE = @CIDADE, UF = @UF,
								TELFIXO = @TELFIXO, CELULAR = @CELULAR, TELCONTATO = @TELCONTATO, EMAIL = @EMAIL, DIGITAL = @DIGITAL, STATUS = @STATUS
									WHERE ID = @ID;	

		SELECT @ID AS RETORNO;

COMMIT TRAN
END TRY
BEGIN CATCH
	
	ROLLBACK TRAN;
	SELECT ERROR_MESSAGE() AS RETORNO;

END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USPALTERARPROJETO]    Script Date: 07/11/2018 09:25:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPALTERARPROJETO]
@ID AS BIGINT,
@RAZAO AS VARCHAR(300),
@FANTASIA AS VARCHAR(300),
@CNPJ AS VARCHAR(300),
@STATUS AS NCHAR(10),
@CEP AS VARCHAR(300),
@RUA AS VARCHAR(300),
@BAIRRO AS VARCHAR(300),
@CIDADE AS VARCHAR(300),
@UF AS VARCHAR(300),
@TELFIXO AS VARCHAR(300)

AS
BEGIN
BEGIN TRY
BEGIN TRAN

	IF(NOT EXISTS(SELECT ID FROM PROJETO WHERE ID = @ID))
	RAISERROR('Erro ao alterar projeto. Projeto não cadastrado!', 14, 1);

		UPDATE PROJETO SET RAZAO = @RAZAO, FANTASIA = @FANTASIA, CNPJ = @CNPJ, STATUS = @STATUS, CEP = @CEP, RUA = @RUA, BAIRRO = @BAIRRO, CIDADE = @CIDADE, UF = @UF, TELFIXO = @TELFIXO WHERE ID = @ID;

		SELECT @ID AS RETORNO;

COMMIT TRAN
END TRY
BEGIN CATCH
	
	ROLLBACK TRAN;
	SELECT ERROR_MESSAGE() AS RETORNO;

END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[USPALTERARUSUARIO]    Script Date: 07/11/2018 09:25:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPALTERARUSUARIO]
@ID AS BIGINT,
@LOGIN AS VARCHAR(300),
@SENHA AS VARCHAR(300),
@NOME AS VARCHAR(300),
@STATUS AS NCHAR(10),
@CEP AS VARCHAR(300),
@RUA AS VARCHAR(300),
@BAIRRO AS VARCHAR(300),
@CIDADE AS VARCHAR(300),
@UF AS VARCHAR(300),
@TELFIXO AS VARCHAR(300),
@CELULAR AS VARCHAR(300),
@TELCONTATO AS VARCHAR(300),
@EMAIL AS VARCHAR(300),
@NIVELACESSO AS INT
AS
BEGIN
BEGIN TRY
BEGIN TRAN

	IF(NOT EXISTS(SELECT ID FROM USUARIO WHERE ID = @ID))
		RAISERROR('Erro ao alterar usuário. Usuário não cadastrado!', 14, 1);

		UPDATE USUARIO SET LOGIN = @LOGIN, SENHA = @SENHA, NOME = @NOME, STATUS = @STATUS, CEP = @CEP, RUA = @RUA, BAIRRO = @BAIRRO, CIDADE = @CIDADE, UF = @UF,
								TELFIXO = @TELFIXO, CELULAR = @CELULAR, TELCONTATO = @TELCONTATO, EMAIL = @EMAIL, NIVELACESSO = @NIVELACESSO
									WHERE ID = @ID;	

		SELECT @ID AS RETORNO;

COMMIT TRAN
END TRY
BEGIN CATCH
	
	ROLLBACK TRAN;
	SELECT ERROR_MESSAGE() AS RETORNO;

END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USPCONSULTARCOLABORADORPORID]    Script Date: 07/11/2018 09:25:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPCONSULTARCOLABORADORPORID]
@ID AS BIGINT

AS
BEGIN

	SELECT ID, NOME, CRM, CRMUF, CEP, RUA, BAIRRO, CIDADE, UF, TELFIXO, CELULAR, TELCONTATO, EMAIL, DIGITAL, STATUS, DATACADASTRO FROM COLABORADOR WHERE ID = @ID;

END
GO
/****** Object:  StoredProcedure [dbo].[USPCONSULTARCOLABORADORPORNOME]    Script Date: 07/11/2018 09:25:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPCONSULTARCOLABORADORPORNOME]
@NOME AS VARCHAR(300)

AS
BEGIN

	SELECT ID, NOME, CRM, CRMUF, CEP, RUA, BAIRRO, CIDADE, UF, TELFIXO, CELULAR, TELCONTATO, EMAIL, DIGITAL, STATUS, DATACADASTRO FROM COLABORADOR WHERE NOME LIKE '%'+@NOME+'%';

END
GO
/****** Object:  StoredProcedure [dbo].[USPCONSULTARPROJETOPORFANTASIA]    Script Date: 07/11/2018 09:25:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPCONSULTARPROJETOPORFANTASIA]
@FANTASIA AS VARCHAR(300)

AS
BEGIN

	SELECT ID, RAZAO, FANTASIA, CNPJ, STATUS, CEP, RUA, BAIRRO, CIDADE, UF, TELFIXO, DATACADASTRO FROM PROJETO WHERE FANTASIA LIKE '%'+@FANTASIA+'%';

END
GO
/****** Object:  StoredProcedure [dbo].[USPCONSULTARUSUARIOPORNOME]    Script Date: 07/11/2018 09:25:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPCONSULTARUSUARIOPORNOME]
@NOME AS VARCHAR(300)

AS
BEGIN

	SELECT ID, LOGIN, SENHA, NOME, STATUS, CEP, RUA, BAIRRO, CIDADE, UF, TELFIXO, CELULAR, TELCONTATO, EMAIL, DATACADASTRO, NIVELACESSO FROM USUARIO WHERE NOME LIKE '%'+@NOME+'%';

END
GO
/****** Object:  StoredProcedure [dbo].[USPINSERIRCOLABORADOR]    Script Date: 07/11/2018 09:25:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPINSERIRCOLABORADOR]
@NOME AS VARCHAR(300),
@CRM AS VARCHAR(300),
@CRMUF AS VARCHAR(300),
@CEP AS VARCHAR(300),
@RUA AS VARCHAR(300),
@BAIRRO AS VARCHAR(300),
@CIDADE AS VARCHAR(300),
@UF AS VARCHAR(300),
@TELFIXO AS VARCHAR(300),
@CELULAR AS VARCHAR(300),
@TELCONTATO AS VARCHAR(300),
@EMAIL AS VARCHAR(300),
@DIGITAL AS VARCHAR(MAX) = '',
@STATUS AS NCHAR(10)
AS
BEGIN
BEGIN TRY
BEGIN TRAN

	IF(EXISTS(SELECT ID FROM COLABORADOR WHERE CRM = @CRM))
		RAISERROR('Erro ao cadastrar colaborador. Colaborador já cadastrado!', 14, 1);

		INSERT INTO COLABORADOR(NOME, CRM, CRMUF, CEP, RUA, BAIRRO, CIDADE, UF, TELFIXO, CELULAR, TELCONTATO, EMAIL, DIGITAL, STATUS) VALUES (@NOME, @CRM, @CRMUF, @CEP, @RUA, @BAIRRO, @CIDADE, @UF, @TELFIXO, @CELULAR, @TELCONTATO, @EMAIL, @DIGITAL, @STATUS);

		SELECT @@IDENTITY AS RETORNO;

COMMIT TRAN
END TRY
BEGIN CATCH
	
	ROLLBACK TRAN;
	SELECT ERROR_MESSAGE() AS RETORNO;

END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[USPINSERIRPROJETO]    Script Date: 07/11/2018 09:25:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPINSERIRPROJETO]
@RAZAO AS VARCHAR(300),
@FANTASIA AS VARCHAR(300),
@CNPJ AS VARCHAR(300),
@STATUS AS NCHAR(10),
@CEP AS VARCHAR(300),
@RUA AS VARCHAR(300),
@BAIRRO AS VARCHAR(300),
@CIDADE AS VARCHAR(300),
@UF AS VARCHAR(300),
@TELFIXO AS VARCHAR(300)

AS
BEGIN
BEGIN TRY
BEGIN TRAN

	IF(EXISTS(SELECT ID FROM PROJETO WHERE RAZAO = @RAZAO))
	RAISERROR('Erro ao cadastrar projeto. Esse projeto já esta cadastrado!', 14, 1);

		INSERT INTO PROJETO (RAZAO, FANTASIA, CNPJ, STATUS, CEP, RUA, BAIRRO, CIDADE, UF, TELFIXO) VALUES (@RAZAO, @FANTASIA, @CNPJ, @STATUS, @CEP, @RUA, @BAIRRO, @CIDADE, @UF, @TELFIXO);

		SELECT @@IDENTITY AS RETORNO;

COMMIT TRAN
END TRY
BEGIN CATCH
	
	ROLLBACK TRAN;
	SELECT ERROR_MESSAGE() AS RETORNO;

END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[USPINSERIRUSUARIO]    Script Date: 07/11/2018 09:25:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPINSERIRUSUARIO]
@LOGIN AS VARCHAR(300),
@SENHA AS VARCHAR(300),
@NOME AS VARCHAR(300),
@STATUS AS NCHAR(10),
@CEP AS VARCHAR(300),
@RUA AS VARCHAR(300),
@BAIRRO AS VARCHAR(300),
@CIDADE AS VARCHAR(300),
@UF AS VARCHAR(300),
@TELFIXO AS VARCHAR(300),
@CELULAR AS VARCHAR(300),
@TELCONTATO AS VARCHAR(300),
@EMAIL AS VARCHAR(300),
@NIVELACESSO AS INT

AS
BEGIN
BEGIN TRY
BEGIN TRAN

	IF(EXISTS(SELECT ID FROM USUARIO WHERE LOGIN = @LOGIN))
		RAISERROR('Erro ao cadastrar usuário. Login já esta em uso!', 14, 1);

		INSERT INTO USUARIO (LOGIN, SENHA, NOME, STATUS, CEP, RUA, BAIRRO, CIDADE, UF, TELFIXO, CELULAR, TELCONTATO, EMAIL, NIVELACESSO) VALUES (@LOGIN, @SENHA, @NOME, @STATUS, @CEP, @RUA, @BAIRRO, @CIDADE, @UF, @TELFIXO, @CELULAR, @TELCONTATO, @EMAIL, @NIVELACESSO);

		SELECT @@IDENTITY AS RETORNO;

COMMIT TRAN
END TRY
BEGIN CATCH
	
	ROLLBACK TRAN;
	SELECT ERROR_MESSAGE() AS RETORNO;

END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[USPLOGINCONSULTA]    Script Date: 07/11/2018 09:25:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPLOGINCONSULTA]
@USUARIO AS VARCHAR(50),
@SENHA AS VARCHAR(50)
AS
BEGIN


	IF(NOT EXISTS(SELECT * FROM USUARIO WHERE LOGIN = @USUARIO AND SENHA = @SENHA))
	RAISERROR('Usuário ou senha incorreto.',14,1);

	SELECT LOGIN, SENHA FROM USUARIO AS USU WHERE LOGIN = @USUARIO AND SENHA = @SENHA;
	

END
GO
/****** Object:  StoredProcedure [dbo].[USPRELATORIOACESSOPORIDEPERIODO]    Script Date: 07/11/2018 09:25:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPRELATORIOACESSOPORIDEPERIODO]
@INICIAL AS DATE,
@FINAL AS DATE,
@IDCOLABORADOR AS BIGINT

AS
BEGIN

	SELECT NOME, CRM, DATAHORAENTRADA, DATAHORASAIDA, IDCOLABORADOR, TEMPOTOTAL, CAST(dbo.FN_HORAMINUTO(SEGUNDOSTOTAL) AS VARCHAR(MAX)) AS TEMPOGERAL FROM UVWACESSO WHERE CAST(DATAHORASAIDA as Date) BETWEEN @INICIAL AND @FINAL AND IDCOLABORADOR = @IDCOLABORADOR ORDER BY NOME ASC;

END
GO
/****** Object:  StoredProcedure [dbo].[USPRELATORIOACESSOPORPERIODO]    Script Date: 07/11/2018 09:25:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPRELATORIOACESSOPORPERIODO]
@INICIAL AS DATE,
@FINAL AS DATE

AS
BEGIN

	SELECT NOME, CRM, DATAHORAENTRADA, DATAHORASAIDA, IDCOLABORADOR, TEMPOTOTAL, CAST(dbo.FN_HORAMINUTO(SEGUNDOSTOTAL) AS VARCHAR(MAX)) AS TEMPOGERAL  FROM UVWACESSO WHERE CAST(DATAHORASAIDA as Date) BETWEEN @INICIAL AND @FINAL ORDER BY NOME ASC;

END
GO
/****** Object:  StoredProcedure [dbo].[USPULTIMOACESSO]    Script Date: 07/11/2018 09:25:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPULTIMOACESSO]
@IDCOLABORADOR AS BIGINT
AS
BEGIN

SELECT TOP 1 NOME, CRM, DATAHORAENTRADA, ISNULL(DATAHORASAIDA,'2001-01-01') AS DATAHORASAIDA, ISNULL(TEMPOTOTAL,'2004-07-12') AS TEMPOTOTAL, IDCOLABORADOR FROM UVWACESSO WHERE IDCOLABORADOR = @IDCOLABORADOR ORDER BY DATAHORAENTRADA DESC;

END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "ACESSO"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 244
            End
            DisplayFlags = 280
            TopColumn = 4
         End
         Begin Table = "COLABORADOR"
            Begin Extent = 
               Top = 104
               Left = 427
               Bottom = 234
               Right = 624
            End
            DisplayFlags = 280
            TopColumn = 5
         End
         Begin Table = "ACESSO_TOTALIZADOR"
            Begin Extent = 
               Top = 6
               Left = 723
               Bottom = 179
               Right = 920
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1980
         Width = 2010
         Width = 1830
         Width = 1500
         Width = 1620
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'UVWACESSO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'UVWACESSO'
GO
USE [master]
GO
